body{
    background: url(../img/wp3137244.jpg) center center fixed;
    background-repeat: no-repeat;
    background-size: cover;

}
.main-section{
    margin: 0 auto;
    margin-top: 35%;
    padding: 0;
}
.modal-content{
    background-color: #B3B6B7;
    opacity: .95;
    padding: 0 20px;
    box-shadow: 0px 0px 3px #34495E;
}
.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}
.user-img img{
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 3px #34495E;
    border-radius: 50%;
}
.form-group input{
    height: 42px;
    font-size: 18px;
    border: 0;
    padding-left: 40px;
    border-radius: 5px;
}
button{
    width: 60%;
    margin: 5px 0 25px;
}
.forgot{
    padding: 5px 0;
}
.forgot a{
    color: #34495E;
}


